---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
<div class="flex justify-between">
<Logo />
<div class="my-auto" style="text-align:center; text-decoration: underline;">
<button class="text-(2xl transparent) font-extrabold bg-(clip-text gradient-to-r) from-sky-400 to-emerald-600">
<a href="https://blog.datalab.icu" target="_blank">Blog</a>
</button>
</div>
<div class="my-auto" style="text-align:center; text-decoration: underline;">
<button class="text-(2xl transparent) font-extrabold bg-(clip-text gradient-to-r) from-sky-400 to-emerald-600">
<a href="https://blog.datalab.icu/dana-wang" target="_blank">About</a>
</button>
</div>
<div class="my-auto" style="text-align:center; text-decoration: underline;">
<button class="text-(2xl transparent) font-extrabold bg-(clip-text gradient-to-r) from-sky-400 to-emerald-600">
<a href="https://blog.datalab.icu/projects" target="_blank">Projects</a>
</button>
</div>
<Themetoggle />
</div>
  <p mt-1 op-60>Based on OpenAI API (gpt-3.5-turbo).Only for test.Do not use for illegal purposes.</p>
</header>